env/
.idea/
e_bazar_fyp/AdminApp/__pycache__/
e_bazar_fyp/AdminApp/migrations/__pycache__/
e_bazar_fyp/AdminApp/templatetags/__pycache__/
e_bazar_fyp/e_bazar_fyp/__pycache__/
e_bazar_fyp/Vendor/__pycache__/
e_bazar_fyp/AdminApp/__pycache__/
e_bazar_fyp/Customer/__pycache__/
e_bazar_fyp/Customer/migrations/__pycache__/
