{% extends 'baseCus.html' %}
{% load static %}


    {% block title %}
    Cart
{% endblock %}

{% block content %}


    {% if empty %}

    {% include 'messageCus.html' %}

{% else %}
        {% include 'messageCus.html' %}

<section style="background-image: url('{% static 'img/b1.jpg' %}');" id="shop-header">
  <h2>#BigDiscounts</h2>
  <p>Use coupons and get upto 70% discount on all products</p>

</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Images</td>
                <td>Product</td>
                <td>Price</td>
                <td>Available Units</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr class="cartItems">
                <td><i class="far fa-times-circle" id="removeItem{{ forloop.counter0 }}"></i></td>
                <td><img src="{{product.images.0}}"></td>
                <td>{{product.name}}</td>
                <td class="price">{{product.price}}</td>
                <td>{{product.units}}</td>
                <td><input class="units" type="number" value="{{product.quantity}}" max="{{product.unitsava}}" oninput="calSubtot()"></td>
                <td class="itemSubtotal">0</td>
            </tr>
            {% endfor %}
            

        </tbody>
    </table>
</section>

<section id="cart-final" class="section-p1">
    <div id="coupon">
        <h3>Apply coupon</h3>
        <div>
            <input type="text" placeholder="Enter your coupon">
            <button class= "normal-button" >Apply</button>
        </div>
    </div>
        <div id="subtotal">
            <h3>Cart totals</h3>
            <table>
                <tr>
                    <td >Cart subtotal</td>
                    <td class="subtotalCom"></td>

                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="subtotalCom"><strong></strong></td>
                </tr>
                
            </table>
            <button class= "normal-button" ><a style="text-decoration: none;color: white;" id="payment" href="#" class="button">Proceed to checkout</a></button>
            <br><br>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="cash">
              <label class="form-check-label" for="cashOnDelivery">
                Cash on Delivery
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" id="cardPayment" value="card">
              <label class="form-check-label" for="cardPayment">
                Credit Card
              </label>
            </div>
            <br>
            <div class="card" id="creditCardForm" style="display: none;">
              <div class="card-header">
                Card Information
              </div>
              <div class="card-body">
                <form>
                  <div class="mb-3">
                    <label for="cardNumber" class="form-label">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber" placeholder="1234 5678 9012 3456" required>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="expirationDate" class="form-label">Expiration Date</label>
                      <input type="text" class="form-control" id="expirationDate" placeholder="MM/YY" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="cvv" class="form-label">CVV</label>
                      <input type="text" class="form-control" id="cvv" placeholder="123" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="cardholderName" class="form-label">Cardholder's Name</label>
                    <input type="text" class="form-control" id="cardholderName" placeholder="John Doe" required>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        
    
</section>
<script>

const cardPaymentRadio = document.getElementById('cardPayment');
    const creditCardForm = document.getElementById('creditCardForm');
    const cashOnDeliveryRadio = document.getElementById('cashOnDelivery');

    cardPaymentRadio.addEventListener('change', function() {
      if (this.checked) {
        creditCardForm.style.display = 'block';
      } else {
        creditCardForm.style.display = 'none';
      }
      chk_btn = document.getElementById('payment');
      chk_btn.href = "{% url 'Customer:order' 'card' %}";
    });

    cashOnDeliveryRadio.addEventListener('change', function() {
      if (this.checked) {
        creditCardForm.style.display = 'none';
        chk_btn = document.getElementById('payment');
      chk_btn.href = "{% url 'Customer:order' 'cod' %}";
      }
    });
  var cart_js = JSON.parse('{{ cart_js|escapejs }}');
  const cart= document.getElementsByClassName("cartItems");
for (var i = 0; i < cart.length; i++ ){
    var removeButton=document.getElementById("removeItem"+i);
    removeButton.addEventListener('click', function(event) {
    let item = event.target;
    let itemId = item.id;
    let idInt = itemId.substring(10);
    var remove_cart_item=document.getElementById(itemId);
    cart_js.splice(parseInt(idInt),1);
    item.parentElement.parentElement.remove();
    calSubtot();

  })
}
calSubtot("start");
function calSubtot(onstart="none"){
  const varItems= document.getElementsByClassName("cartItems");
for (let i=0; i<varItems.length;i++){  
  price= varItems[i].querySelector(".price").innerHTML;
  units= varItems[i].querySelector(".units").value;
  cart_js[i][1]=parseInt(units);
  itemSubtotal= varItems[i].querySelector(".itemSubtotal");
  var sub= parseInt(price)* parseInt(units);
  itemSubtotal.innerHTML= sub;
  }
  const subtotal=  document.getElementsByClassName("itemSubtotal");
  var subtotalCom= 0;
  for (let i=0; i<subtotal.length;i++){
    sub= subtotal[i].innerHTML;
    subtotalCom+=parseInt(sub);
  }
  const subTotDiv= document.getElementsByClassName("subtotalCom");
  for (let i=0; i<subTotDiv.length;i++){
    subTotDiv[i].innerHTML= subtotalCom
  }
  if (onstart=="none"){
  updateCartCookies()
}
}


function updateCartCookies(){
  if (cart_js.length==0){
    var cookieValue = "";
  }
  else{
    var cookieValue = JSON.stringify(cart_js);
  }
const cookieName = 'cart';
const url = "{% url 'Customer:cart' %}";
const expirationDate = new Date(Date.now() + 100000); // expires in 10 min
const cookieString = `${cookieName}=${cookieValue}; expires=${expirationDate.toUTCString()}; path=/;`;
document.cookie = cookieString;
}

</script>

{% endif %}
{% endblock %}