{% extends "base_c.html" %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
     {% block link_css %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
  {% endblock link_css %}

    <meta charset="UTF-8">
    <title>E-Bazar</title>
</head>
<body>
    {% block content %}
        <section class="hero-section">
      <div class="row">
        <div class="left">
          <img src="images/hero_man.png" alt="" />
        </div>
        <div class="right">
          <p>60% Discount</p>
          <h1>
            Winter <br />
            Collection
          </h1>
          <span class="mute-text">Best Cloth Collection Of 2023</span>
          <button class="hero-btn">Shop Now</button>
        </div>
      </div>
    </section>

    <!--------- category section start----- -->
    <section class="category">
      <h1>Shop By Category</h1>
      <div class="row">
        <div class="left">
          <img src="images/cat1 (1).jpg" alt="" />
          <div class="category-caption">
            <p>Woman's</p>
            <a href="#" class="category-btn">Best New Deal</a>
            <span class="category-collection">New Collection</span>
          </div>
        </div>
        <div class="center">
          <img src="images/cat2.jpg" alt="" />
          <div class="category-caption">
            <span class="category-collection">Woman's</span>
            <h2>Winter Cloth</h2>
            <p>New Cloth</p>
          </div>
        </div>
        <div class="right">
          <img src="images/cat3.jpg" alt="" />
          <div class="category-caption">
            <p>Man's</p>
            <a href="#" class="category-btn">Best New Deal</a>
            <span class="category-collection">New Collection</span>
          </div>
        </div>
      </div>
    </section>
    <!--------- category section end------->



    <!------------- Latest Product section star --------->
    <section class="latest-product">
      <div class="latest-product-top">
        <div class="left">
          <h1>Latest Product</h1>
        </div>
        <div class="right">
          <p>All</p>
          <p>New</p>
          <p>Feature</p>
          <p>Offer</p>
        </div>
      </div>

      <div class="latest-product-card">
        {% for product in products %}
        <div class="column">
          <div class="card">
            <img src={{product.image}} alt="" />
            <div class="card-caption">
              {% for i in product.rating %}
              {% if i == "shine" %}
              <i class="fas fa-star"></i>
              {% else %}
              <i class="far fa-star"></i>
              {% endif %}
              {% endfor %}
              <a href="{% url 'Customer:productdetails' product.id %}"><h4><b>{{ product.name }}</b></h4></a>

              <h3>
               {{ product.price }}
              </h3>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </section>
    <!------------- Latest Product section end --------->

    <!------------- Best Product section start --------->
    <section class="best-product">
      <div class="row">
        <div class="left">
          <img src="images/card-man.png" alt="" />
        </div>
        <div class="right">
          <div class="best-product-text">
            <h1>
              Find The Best Product
              <br />
              From Our Shop
            </h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="#" class="best-product-btn">Shop Now</a>
          </div>
        </div>
      </div>
    </section>
    <!------------- Best Product section end --------->

    <!------------- Best month collection section start --------->
    <section class="best-month-collection">
      <div class="row">
        <div class="left">
          <h1>
            Best Collection <br />
            of This Month
          </h1>
          <p> koi bhi tag line yahan aaye gi </p>
          <a href="#" class="best-month-collection-btn">Shop Now</a>
          <img src="images/collection1.png" alt="" />
        </div>
        <div class="center">
          <img src="images/collection2.png" alt="" />
        </div>
        <div class="right">
          <div class="right-section1">
            <h4>
              Adidas Man<br />
              Jacket
            </h4>
            <img src="images/collection3.png" alt="" />
          </div>
          <div class="right-section2">
            <h4>
              Adidas Man<br />
              Jacket
            </h4>
            <img src="images/collection4.png" alt="" />
          </div>
          <div class="right-section3">
            <h4>
              Adidas Man<br />
              Jacket
            </h4>
            <img src="images/collection5.png" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!------------- Best month collection  section end --------->

    <!-- /*-------------------- Latest Offer News section start----------------- */ -->
    <section class="latest-offer-news">
      <div class="row">
        <div class="left">
          <h1>
            Get <br />
            Our Latest News
          </h1>
          <p>Subscribe News Latter</p>
        </div>
        <div class="right">
          <form action="#">
            <input
              type="search"
              name="search"
              id="mySearch"
              placeholder="Your Email Here"
            />
            <i class="fas fa-search"></i>
          </form>
        </div>
      </div>
    </section>
    <!-- /*-------------------- Latest Offer News section end-----------------  -->

    <!-- /*-------------------- Policy section start----------------- */ -->

    <section class="policy">
      <div class="row">
        <div class="left">
          <i class="fas fa-truck"></i>
          <h2>Free Shipping Method</h2>
          <p>
            Lorem ipsum dolor sit <br />
            amet consectetur adipisicing <br />
            elit. Nostrum, modi?
          </p>
        </div>
        <div class="center">
          <i class="fas fa-unlock-alt"></i>
          <h2>Secure Payment System</h2>
          <p>
            paragraph  <br />
             <br />

          </p>
        </div>
        <div class="right">
          <i class="fas fa-sync-alt"></i>
          <h2>Secure Return Policy</h2>
          <p>
            Lorem ipsum dolor sit <br />
            amet consectetur adipisicing <br />
            elit. Nostrum, modi?
          </p>
        </div>
      </div>
    </section>

    <!-- /*-------------------- Policy section end----------------- */ -->

    <!-- /*-------------------- Image Gallery section start----------------- */ -->
    <section class="image-gallery">
      <div class="row">
        <div class="column">
          <img src="images/gallery1.jpg" alt="" />
          <img src="images/gallery2.jpg" alt="" />
          <img src="images/gallery3.jpg" alt="" />
          <img src="images/gallery4.jpg" alt="" />
        </div>
      </div>
    </section>
    {% endblock %}
</body>
</html>