{% extends 'baseCus.html' %}
{% load static %}

{% block content %}


    <br><br><br>
    <table id="inprocess-table" class="table" style="width:50%; margin: 0 auto;" border="1">
                    <thead class="table-light border border-1">
                      <tr>
                        <th>Order date</th>
                        <th>Product name</th>

                        <th>Status</th>

                      </tr>
                    </thead>
                    <tbody class="border border-1">
                      {% for order in orders %}


                          <tr>
                            <td>{{order.orderCreated}}</td>



                            <td>
                                <ul>
                                {% for name in order.product_info %}
                                    <li>{{name}}</li>

                                {% endfor %}
                                    </ul>
                            </td>



                          <td>{{order.status}}</td>

                      </tr>

                      {% endfor %}

                    </tbody>
                  </table></div>
{% endblock %}

