{% extends 'baseCus.html' %}
{% load static %}


    {% block title %}
    Product detail
{% endblock %}

{% block content %}

    <script>
      var product_js = JSON.parse('{{ product_js|escapejs }}');
      if (product_js=="none"){
        console.log("no var")
      }
      else{
        var varList= [];
        var var_type= product_js['var_type']
        for (const [key, value] of Object.entries(var_type)){
          varList.push(key)
        }



      }

      function changeVarAtt(){
        var selectlst= [];
        const selectDropDown = document.getElementsByClassName("varDropDown");
        for (let i=0; i<selectDropDown.length ;i++){
          selectlst.push(selectDropDown[i].value)
        }
        console.log(selectlst)
        console.log(varList[0])
        console.log(product_js["variations"])

        for (const [key, value] of Object.entries(product_js["variations"])){

          if ( varList.length>1 && selectlst.includes(value[varList[0]]) &&  selectlst.includes(value[varList[1]])){
            //console.log(key)
            const price = document.getElementById("price");
            console.log("price",value["price"])
            price.textContent= "PKR "+value["price"];
            const unitsava = document.getElementById("unitsava");
            unitsava.textContent= "Units available : "+value["units"];
            var cartVarId = document.getElementById("cart");
            cartVarId.value = product_js["id"]+"+"+ key;
          }
          else if ( varList.length==1 && selectlst.includes(value[varList[0]])){
            const price = document.getElementById("price");
            console.log("price",value["price"])
            price.textContent= "PKR "+value["price"];
            const unitsava = document.getElementById("unitsava");
            unitsava.textContent= "Units available : "+value["units"];
            var cartVarId = document.getElementById("cart");
            cartVarId.value = product_js["id"]+"+"+ key;
          }
        }
      
      }

  </script>


<form action="{% url 'Customer:cart' %}" method="post">
  {% csrf_token %}
<section id="product-details" class="section-p1">
    <div class="single-product-img">
        <img src="{{product.images.0}}" width="500" height="500" id="mainimg">
        <br><br>
    <div  class="small-img-group">
      {% for img in product.images %}
        <div class="small-img-col">
            <img src="{{img}}" class="small-img" width="200" height="200">
        </div>
      {% endfor %}

    </div>
</div>
    <div class="single-product-details">
        <h6>{{product.category}}</h6>
        <h4>{{product.name}}</h4>
        <p id="unitsava">Units available : {{product.units}}</p>
        <h2 id="price">PKR {{product.price}}</h2>
        {% for varname,varlist in product.var_type.items %}
        <div id="variationsSelect">
          <span>Select {{varname}}</span>
          <select class="varDropDown" name="varSelected" onchange="changeVarAtt()">
            {% for v in varlist %}
              <option value="{{v}}">{{v}}</option>
            {% endfor %}
          </select>
        </div>

        {% endfor %}


        <input type="number" name="units" value="1">
        <button class="normal-button" id="cart" name="cart" value="{{product.id}}+{{product.varid}}" >Add to cart</button>
        <h4>Product details</h4>
        <span>{{product.description}}</span>
    </div>
</section>
</form>


<section id="featured-products" class="section-p1">
    <h2>Related Products</h2>
    <p>Best quality products</p>
    <div class="fe-pro-cont">
    {% for product in relatedProducts %}
    <div class="fe-product">
      <img src={{product.image}} width="300" height="300">
      <div class="des">
      <!-- <h5>{{ product.name }}</h5> -->
      <h5><a href="{% url 'Customer:productdetails' product.id %}">{{ product.name }}</a></h5>

      <div class="reviews">
        <!-- <i class="fa-solid fa-star"></i> -->
        {% for i in product.rating %}
        {% if i == "shine" %}
        <i class="fas fa-star"></i>
        {% else %}
        <i class="far fa-star"></i>
        {% endif %}
        {% endfor %}
      </div>
      <h4>PKR {{ product.price }}</h4>
      </div>
      <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    {% endfor %}
      
    </div>
  </section>

<script>

    var mainimg= document.getElementById("mainimg");
    var smallimg= document.getElementsByClassName("small-img");

    for (let i=0; i<5;i++){
    smallimg[i].onclick= function(){
        mainimg.src= smallimg[i].src;
    }}
</script>

{% endblock %}