
{% extends 'Verification/accountVerificationOption.html' %}
{% block  subContent %}


{% block options %}
<a  href="{% url 'avPending' %}" style="text-decoration: none; font-weight: bold;">  <span class='active'  id='pendingId' style="background-color: #321abc; color: white; padding: 5px;"  >Pending</span></a>
<a href="{% url 'avDisputed' %}"  style="text-decoration: none; font-weight: bold;">  <span class='active' id='disputedId'>Disputed</span></a>
<a href="{% url 'avVerified' %}"  style="text-decoration: none; font-weight: bold;">  <span class='active' id='verifiedId'>Verified</span></a>

{% endblock options %}



<div class="content" >
    {% include 'message_a.html' %}

    <div class="pending">
        <div class="pendingAttributes">
            <p>Date applied </p>
            <p>Buisness type</p>
            <p>Store name</p>
            <p>City</p>
            <p>Status</p>
            <p>Actions
            </p>
        </div>
        {% if vendors %}
            {% for vendor in vendors %}
            <div class="pendingData">
                <p>{{vendor.}}</p>
                <p>{{vendor.businessType}}</p>
                <p>{{vendor.storename}}</p>
                <p>{{vendor.city}}</p>
                <p>Pending</p>
                <p class="pButton">
                    <a href="{% url 'avPendingDetails' vendor.id %}">   <button id='accVPDId' >View details</button></a>


                </p>

            </div>
            {% endfor %}
        {% else %}
              <div class="pendingData">
                <p class="strong">No pending vendors found</p>

            </div>
        {% endif %}




    </div>

</div>




{% endblock %}

