{% extends 'Verification/orderOption.html' %}
{% block options %}
<a href="{% url 'oUnfulfilled' %}" style="text-decoration: none; font-weight: bold;">  <span class='active' id='unfulfilledId'   >Pending</span></a>
    <a href="{% url 'oFulfilled' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='fulfilledId'>Delivered</span></a>
    <a href="{% url 'oReturned' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='returnedId'>Up For Delivery</span></a>
    <a href="{% url 'oinProcess' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId'>In Process</span></a>
    <a href="{% url 'oShipped' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId' style="background-color: #321abc; color: white; padding: 5px;">Shipped</span></a>
    <a href="{% url 'ocancelled' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId'>Cancelled</span></a>
{% endblock options %}
{% block  subContent %}

<div class="content" id="unfulfilledId">

        <div class="pending">
            <div class="pendingAttributes">
                <p>Order ID </p>
                <p>Buyer</p>
                <p>Date</p>
                <p>Items</p>
                <p>Status</p>
                <p>Actions</p>
            </div>
            {% if orders %}
                {% for order in orders %}

                    <div class="pendingData">
                        <p>{{order.id}} </p>
                        <p>{{order.customer.name}}</p>
                        <p>{{order.orderCreated}}</p>
                        <p>{{order.products|length}}</p>
                        <p>{{order.status}}</p>
                        <p class="pButton">
                            <a href="{% url 'oUnfulfilledDetails' order.id  %}"> <button id='oVDId'>View details</button></a>



                        </p>

                    </div>
                {% endfor %}
            {% else %}
                <div class="pendingData">
                    <p>There are no orders that are shipped</p>

                </div>
            {% endif %}
           



        </div>

    </div> 
{% endblock %}