{% extends 'Verification/orderOption.html' %}
{% block options %}
<a href="{% url 'oUnfulfilled' %}" style="text-decoration: none; font-weight: bold;">  <span class='active' id='unfulfilledId'   >Pending</span></a>
    <a href="{% url 'oFulfilled' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='fulfilledId'>Delivered</span></a>
    <a href="{% url 'oReturned' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='returnedId' style="background-color: #321abc; color: white; padding: 5px;">Up For Delivery</span></a>
    <a href="{% url 'oinProcess' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId'>In Process</span></a>
    <a href="{% url 'oShipped' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId'>Shipped</span></a>
    <a href="{% url 'ocancelled' %}" style="text-decoration: none; font-weight: bold;"> <span class='active' id='clustersId'>Cancelled</span></a>
{% endblock options %}
{% block  subContent %}
<div class="content" id="upForDelivery">
    <form action="{% url 'cluster'%}" method="post">
        <button type="submit" name="create" >Create cluster</button>
        <button type="submit" name="add" >Add to existing cluster</button>
        {% csrf_token %}
     <div class="pending">
            <div class="pendingAttributes">
                <p>Order ID </p>
                <p>Buyer</p>
                <p>Date</p>
                <p>Items</p>
                <p>Status</p>
                <p>Actions</p>
            </div>
           
            
            {% if orders %}
                {% for order in orders %}

                    <div class="pendingData">
                        <input type="checkbox" name="ordercheck" value="{{order.id}}">
                    
                        <p>{{order.id}} </p>
                        <p>{{order.customer.name}}</p>
                        <p>{{order.orderCreated}}</p>
                        <p>{{order.products|length}}</p>
                        <p>{{order.status}}</p>
                        <p class="pButton">
                            <a href="{% url 'oUnfulfilledDetails' order.id  %}"> <button type="button" id='oVDId' onclick="location.href='{% url 'oUnfulfilledDetails' order.id  %}'">View details</button></a>




                        </p>

                    </div>
                {% endfor %}
            </form>
            {% else %}
                <div class="pendingData">
                    <p>There are no orders up for delivery</p>

                </div>
            {% endif %}




        </div>
    

</div>


{% endblock %}



