* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h5{
  font-weight: 700;
  font-size: 15px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}


.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}



/*boiler plate end */



  .tabs{
    padding: 30px 60px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tabs button { 
  background-color: #c8cecc;
  border: none;
  color: black;
  padding: 16px 32px;

  cursor: pointer;
  }

form label { 
  color: black;
  font-weight: 700;
 }

 #Product_identity table input:not(.no-border),
 #information table input{
  border:2px solid #53aad2;
  height: 40px;
  width: 80%;
  font-weight: 500;
}


#Description table input{
  border:2px solid #53aad2;
  height: 40px;
  width: 100%;
  font-weight: 500;
}



#bulletsRow td input{
  margin-bottom: 10px;
}

#Product_identity table select{
  border:2px solid #53aad2;
  height: 40px;
  
}

#Product_identity input[type='checkbox']{
  height: 20px;
}

form {

  width: 70%;
  margin: auto;
 text-align: left;
 background-color: #ebeff5;
 padding: 5% 10%;
 margin-bottom: 10%;
}

#Product_identity table,
#Description table
#information table{
  table-layout: fixed;
  width: 100%;
}

#Product_identity form tr:nth-child(1){
  height: 300px;
}

#Product_identity td,
#Description td
#information td{
  padding-top: 40px;
}

 #Product_identity td:nth-child(1){ 
    width: 30%;  
}

#Product_identity td:nth-child(2){ 
  text-align: left;
  width: 100%;  
}

.radio label {
    font-weight: 400;
}

.radio_variation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#variations_div{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
}

#variations_enable{
  display: none;
  width: 100%;
  align-items:center;
  justify-content: space-between;

}

.variations{
  display: flex;
  width: 140px;
  margin-left: -10%;
  align-items: center;
  flex-direction: row;
}

.off-canvas-padding{
 padding : 0rem 1.25rem;
}

.variations input{
  color: black;
    font-weight: 700;
}


#variation_type{
  display: flex; 
  align-items:center;
  justify-content: flex-start;
  width: 70%;
  
}

#variation_type h3,
#variation_type h5{
  margin-right: 40px;
}


#var_input {
  display: flex;
  flex-direction: column;
  align-items:start; 
}

.selected {
  background-color: rgb(204, 204, 196);
}


.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}


td {
  text-align: center; 
  padding: 8px;
}

input .bold {
  font-weight:700;
}






