* {
    margin: 0;
    padding: 0;
}



.container {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    padding: 0px;
    margin: 0px;
}


.navbar {
    
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #321abc;
    height: 10vh;
    padding: 0 20px;
    font-size: 1rem;
    z-index: 2;
}


.ebazarheading {
    color: rgb(255, 255, 255);
}



.sidebar {
    position: absolute;
    background-color: #f4f4f4;
    width: 20vw;
    height: 45.3rem;
    padding: 5rem 1.7rem;
    top: 0px;
    justify-content: space-between;
    z-index: 1;
}
.sidebar p {
    
    
    cursor: pointer;

  
    padding: 1rem;
}

.sidebar p:hover {
    color: #f2f2f2;
    background-color: #321abc;
}





.accountVerification {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 2rem 0rem ;
    padding-left: 22vw; 


}

.accountVerification h1 {
    flex: 2;
    font-size: 2.2rem;
}



.accountVerification input {
    flex: 1;
   
    padding: 0.8rem;
    border-radius: 4px;
   
    margin-right: 1rem;
}

.accountVerification button {
    background-color: #321abc;
    color: beige;
    height: 6.5vh;

}

.accountVerification button:hover {

    background-color: #2b2d2e;
}

.avContainer {
    height: 70vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 22vw;
    


}

.avContainer span {
    margin-right: 2rem;
    cursor: pointer;


}

.avContainer span:hover {

    background-color: #321abc;
    color: #f4f4f4;
    text-decoration-line: underline;
    text-decoration-color: #321abc;



}



.content {
    
  
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 80vh;
 
    height: 70vh;
    overflow: auto;
    

}

.content::-webkit-scrollbar {
    width: 7px;
    background-color: #e8e8e8;
}

.content::-webkit-scrollbar-thumb {
    background-color: #321abc;
    border-radius: 15px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #321abc;
}


.content p {
    margin-left: 30px;

}



.content .pending {
   
    width: 75vw;
    height: 70vh;
    margin-top: 20px;

}

.pending .pendingAttributes {

    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
  
    padding: 8px;
    height: 40px;
    margin-bottom: 10px;
  
    width:100%;



}

.pending .pendingAttributes p {
    
    flex:1;
   
   

}

.pending .pendingData {

    display: flex;
    flex-direction: row;
    padding: 8px;
    height: 12vh;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
    background-color: #fbfbfb;
    width:100%;


}

.pending .pendingData p {
    flex:1;
}

.pending .pendingData .pButton {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



.pending .pendingData .pButton button {
    
    padding: 0.2rem;
    text-align: center;
    height:3rem;
    width: 6.5rem;
    margin-top: 0.3rem;
    background-color: #321abc;
    color: #fbfbfb;

  
}

.pending .pendingData .pButton button:hover {
    border: 1px solid #094789;
    background-color: #2b2d2e;

}

.tableContainer{
    padding: 0px 30px;
    padding-left: 22vw;
    height: 70vh;
    overflow: auto;
    margin: 60px;
    width: 85vw;
   

}

.tableContainer::-webkit-scrollbar {
    width: 7px;
    background-color: #e8e8e8;
}

.tableContainer::-webkit-scrollbar-thumb {
    background-color: #321abc;
    border-radius: 15px;
}

.tableContainer::-webkit-scrollbar-thumb:hover {
    background-color: #321abc;
}


.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 12px;
}

.table th:first-child {
    text-align: left;
    background-color: #f2f2f2;
    font-size: 12px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}


.table img {
    height: 90px;
    width: 190px;
    margin-right: 10px;
}

.table .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #321abc;
    border: 1px solid #007bff;
    color: #fff;
    border-radius: 4px;
}

.table .btn:hover {

    border: 1px solid #094789;
    background-color: #2b2d2e;
}


.table td:nth-child(2) {
    width: 70%;
    text-align: left;
}




h4 {
    background-color: #321abc;
    color: #fff;
    padding: 10px;
}


#confirmationid {
    padding: 50px;
 
    margin: 50px;

}

#confirmationid hr {
    margin-bottom: 20px;
}




button {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #321abc;

    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 4px;
}


Button:hover {

    border: 1px solid #094789;
    background-color: #2b2d2e;
}

/* .active1{
    background-color: #094789;
} */

.special {
    
    border-bottom: 6px solid #321abc;
   
}

.specialSB {
    background-color: #321abc;
    color: #fbfbfb;

}




form {
    max-width:max-content;
    width: max-content;
    
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  


@media screen and (max-width: 880px) {
    .navbar{
        width: 149vw;
    }

    .pending .pendingData {
     
        width:120vw;
    }
    .pending .pendingAttributes {

    
        width:120vw;
       
    }
    


}
@media screen and (max-width: 530px) {

    .sidebar{
        width: 60vw;

    }
    .navbar{
       
        width: 199vw;
    }

    .pending .pendingData {
     
        width:160vw;
    }
    .pending .pendingAttributes {

    
        width:160vw;
       
    }
}
@media screen and (max-width: 400px) {
    .navbar{
       
        width: 250vw;
    }
    

    .pending .pendingData {
     
        width:200vw;
        
    }
    .pending .pendingAttributes {

    
        width:200vw;
       
    }
}
@media screen and (max-width: 320px) {

    .navbar{
        
        width: 300vw;
    }

    .pending .pendingData {
     
        width:240vw;
    }
    .pending .pendingAttributes {

    
        width:240vw;
       
    }
}
@media screen and (max-width: 264px) {
    .navbar{
     
        width: 425vw;
    }


    .pending .pendingData {
     
        width:340vw;
    }
    .pending .pendingAttributes {

    
        width:340vw;
       
    }
}


   




  